<!DOCTYPE html>
<html>
<head>
    <title>AWS Signed URL Upload P.o.C.</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <script src="/js/indexHelper.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
    <div id="mainContainer">
        <div id="initContainer" class="container">
            <div id="initButton" class="divButton"> Request Upload</div>
        </div>
        <div id="loadingContainer" class="container">
            Preparing Upload... Please wait!
        </div>
        <div id="fileInputContainer" class="container">
            <input type="file" />
            <div id="submitImageButton" class="divButton">Submit Image</div>
        </div>
        <div id="completeContainer" class="container">
            Upload Complete!<br/>Thank you for your submission!
        </div>
    </div>
</body>
</html>
