div.fileGetButton{
    background-color: #1a64a6;
    color: white;
    margin: 0.15em 0.25em;
    padding: 0.25em;
    transition: all 300ms ease;
    display: inline-block;
}

div.fileGetButton:hover{
    background-color: #0dbdf4;
    color:white;
    cursor: pointer;
}

ul#downloadList{
    list-style-type: none;
    margin:0;
    padding: 0;
}

ul#downloadList>li:nth-child(2n+1){
    background-color: #eafffd;
}

ul.userContainer{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

ul.userContainer>li{
    margin: 0.25em;
    padding: 0.25em;
}

ul.categoryContainer>li{
    font-weight: bold;
}

ul.categoryContainer{
    background-color: lightblue;
    color: #122b40;
}

ul.userContainer>li{
    width: 15%;
}

ul.userContainer>li:nth-child(3){
    width: 30%;
}

.prelim-screen{
    padding-top: 0 !important;
}