<!DOCTYPE html>
<html lang="en" ng-app="InterviewMonk">
<head>
    <meta charset="UTF-8">
    <title>Online Screening for GoLiveLabs</title>
    <link rel="stylesheet" type="text/css" href="css/intMonkBase.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="msr/MediaStreamRecorder.js"></script>
    <script src="js/mediaUpload.js"></script>
    <script src="js/mediaRec.js"></script>
</head>
<body>

<header>
    <div class="brand">
        <h1>Go-LiveLabs <small>Prelims Portal</small></h1>
    </div>
    <div class="details">
    <span>
        <span class="caption">Candidate</span>
        <span class="detail">John Doe</span>
    </span>
    <span>
       <span class="caption">Token</span>
        <span class="detail">asdf4545-asdf45a3sf4</span>
    </span>
    <span>
        <span class="caption">Position</span>
        <span class="detail">Junior UI Developer</span>
    </span>
    </div>
</header>

<section class="prelim-screen ng-scope" ng-controller="MyController">
    <h1>Front End Development Qs
        <br><small>
            Type in your answers to the best of your ability. Please DO NOT lose focus from the screen.
        </small>
    </h1>
    <ol class="questions-container">
        <li ng-repeat="obj in interview" class="ng-scope">
            <div class="question ng-binding">What is prototypal inheritance (JS)? Explain?</div>
            <textarea class="answer ng-pristine ng-untouched ng-valid" ng-model="obj.answer" id="" cols="30" rows="10"></textarea>
        </li><!-- end ngRepeat: obj in interview -->
        <li>
            <small>Your LinkedIn URL</small>
            <input class="linkedin" type="text" placeholder="linkedin url here ... ">
        </li>
        <li>
            <small>Your Github URL</small>
            <input class="linkedin" type="text" placeholder="github url here ... ">
        </li>
        <li>
            <small>Links to online work or demo</small>
            <input class="linkedin" type="text" placeholder="work / demo link 1">
            <input class="linkedin" type="text" placeholder="work / demo link 1">
            <input class="linkedin" type="text" placeholder="work / demo link 1">
        </li>
    </ol>
    <br>
    <div class="submit">
        <small>Please review all answers prior to submission. Please refer to your token number for any issues after submission. </small>
    </div>
    <button class="final">Submit Answers</button>
</section>

</body>
</html>